.benefits {
    background: #F6F6F6;
    padding: 71px 0 82px 0;
    &__h2 {
        display: block;
        text-align: center;
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
    }
    &__icon {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 30%;
        &_animated {
            animation: heartbeat 3s ease infinite;
            // animation-name: heartbeat;
            // animation-duration: 3s;
            // animation-timing-function: ease;
            // animation-iteration-count: infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
        .benefits__bold {
            margin-top: 35px;
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 18px;
            line-height: 29px;
        }
        a {
            display: contents;
            font-family: 'MuseoModerno';
            color: #FF0000;
            text-decoration: underline;
        }
    }

}